.i-list-item {
	display: flex;
	align-items: center;
	gap: 0.4em;
	padding: 0.32em 0.4em;
	transition: var(--transition);
	border-radius: var(--radius);
}

.i-list-option {
	cursor: pointer;
	user-select: none;
	&:hover {
		background: var(--background-opacity-1);
	}
	&.disabled {
		order: 2;
	}
}
