.i-table-container {
	overflow: auto;
	--table-border-color: var(--color-8);
}

.i-table {
	--padding: 0 8px;

	position: relative;
	min-width: 100%;
	width: fit-content;
	.sticky-top {
		z-index: 11;
	}
}

.i-table-bordered {
	.i-table-td {
		border: 1px solid var(--table-border-color);
		+ .i-table-td {
			margin-left: -1px;
		}
	}
	.i-table-row {
		+ .i-table-row {
			margin-top: -1px;
		}
	}
}

.i-table-row {
	display: grid;
	grid-template-columns: var(--table-columns);
	&:hover .i-table-td {
		background: var(--background-opacity-1);
	}
}

.i-table-td {
	padding: var(--padding);
	overflow: hidden;
	text-overflow: ellipsis;
	outline: none;
	grid-column: var(--table-column);
	background: var(--background);
	backdrop-filter: var(--blur);
}

.i-table-resizes {
	position: absolute;
	z-index: 12;
	inset: 0;
	display: grid;
	grid-template-columns: var(--table-columns);
	pointer-events: none;
}
.i-table-y-resize {
	margin-left: auto;
	width: 3px;
	height: 100%;
	cursor: ew-resize;
	pointer-events: initial;
	transition: var(--transition);
	&:hover {
		background: var(--color-5);
	}
}
