.i-table {
	--padding: 0 8px;

	border-inline-start: 1px solid var(--color-8);
	border-block-start: 1px solid var(--color-8);
}

.i-table-row {
	display: grid;
	grid-template-columns: var(--grid-template-columns);
	&:hover {
		background: var(--background-opacity-1);
	}
}

.i-table-td {
	padding: var(--padding);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	outline: none;
	border-inline-end: 1px solid var(--color-8);
	border-block-end: 1px solid var(--color-8);
}
