.i-table {
	--padding: 0.5em;
	--table-border-color: var(--color-8);

	position: relative;
	display: grid;
	overflow: auto;
	contain: content;
	content-visibility: auto;
	max-width: 100%;
}

.i-table-bordered {
	outline: 1px solid var(--table-border-color);
	.i-table-td {
		outline: 1px solid var(--table-border-color);
	}
}

.i-table-striped {
	.i-table-row {
		&:nth-child(odd) {
			--table-td-background: var(--color-9);
		}
	}
}

.i-table-row {
	--table-td-background: var(--background);

	display: contents;
	&:hover .i-table-td {
		--table-td-background: var(--color-main-0);
	}
}

.i-table-td {
	position: sticky;
	display: flex;
	align-items: center;
	gap: 4px;
	padding: var(--padding);
	text-align: var(--table-align);
	background: var(--table-td-background);
	transition: background-color 0.08s;
	&:hover {
		--table-td-background: var(--background);
	}
}
.i-table-td-content {
	flex: 1;
}

.i-table-header {
	--table-td-background: var(--color-9);

	.i-table-td {
		z-index: 2;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}
