.i-tag {
	--background: var(--color-9);
	--color: var(--color-1);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	gap: 0.5em;
	padding: 0.1em 0.5em;
	border-radius: var(--radius);
	background: var(--background);
	color: var(--color);
	border: 2px solid transparent;
	transition: var(--transition);
	font-size: 0.81em;
	line-height: 1;
}
.i-tag-large {
	font-size: 1em;
}
.i-tag-extreme {
	font-size: 1.5em;
	height: 2em;
}
.i-tag-small {
	font-size: 0.72em;
	padding: 0.125em 0.4em;
}

.i-tag-dot {
	content: "\20";
	width: 0.385em;
	height: 0.385em;
	border-radius: 50%;
	background-color: var(--color);
	box-shadow: 0 -1px 1px 0 rgba(var(--color), 0.3);
	flex-shrink: 0;
	transition: inherit;
}

.i-tag-outline {
	--background: transparent;
	border-color: var(--color);
}

.i-tag-close {
	margin: 0 -0.5em;
}
.i-tag-clickable {
	cursor: pointer;
	&:hover {
		background: var(--background-hover);
		color: var(--color-hover);
	}
}
