:root {
	kbd,
	.kbd,
	code,
	.code {
		display: inline-block;
		font-family: inherit;
		margin: 0 0.2em;
		padding: 0 0.4em;
		border-radius: 4px;
	}
	.code,
	code {
		background: var(--color-8);
		font-family: unset;
	}
	kbd,
	.kbd {
		background-color: var(--white-0);
		color: var(--black);
		border-right: 2px solid var(--grey-2);
		border-bottom: 3px solid var(--grey-2);
		box-shadow: -1px -1px 1px var(--color-9);
	}
	.chip {
		padding: 0.05em 0.72em;
		font-size: 0.94em;
		background: var(--color-main);
		color: var(--color-main-reverse);
		border-radius: var(--radius);
		transition: var(--transition);
		&:hover {
			--background-hover: var(--color-main-1);
			background: var(--background-hover);
		}
	}
	.link {
		display: inline-flex;
		position: relative;
		white-space: nowrap;
		color: var(--blue);
	}

	.relative {
		position: relative;
	}
	.fixed {
		position: fixed;
	}
	.flex {
		display: flex;
		gap: inherit;
	}
	.grid {
		display: grid;
	}
	.flex-column {
		flex-direction: column;
	}
	.flex-wrap {
		flex-wrap: wrap;
	}
	.flex-1 {
		flex: 1;
	}
	.sticky-top {
		position: sticky;
		top: 0;
		z-index: 10;
	}
	.sticky-bottom {
		position: sticky;
		bottom: 0;
		z-index: 10;
	}
	.sticky-left {
		position: sticky;
		left: 0;
		z-index: 10;
	}
	.sticky-right {
		position: sticky;
		right: 0;
		z-index: 10;
	}
	.text-center {
		text-align: center;
	}
	.text-right {
		text-align: right;
	}
	.bordered {
		border: 1px solid var(--color-7);
	}
	.ellipsis {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.overflow-auto {
		overflow: auto;
	}
	.justify-center {
		justify-content: center;
	}
	.justify-evenly {
		justify-content: space-evenly;
	}
	.justify-between {
		justify-content: space-between;
	}
	.justify-start {
		justify-content: flex-start;
	}
	.justify-end {
		justify-content: flex-end;
	}
	.items-start {
		align-items: flex-start;
	}
	.items-end {
		align-items: flex-end;
	}
	.items-center {
		align-items: center;
	}
	.self-center {
		align-self: center;
	}
	.h-100vh {
		height: 100vh;
	}
	.bg-blur {
		background: var(--background-opacity);
		backdrop-filter: var(--blur);
	}
	.round {
		border-radius: 50vw;
	}
	.round-0 {
		border-radius: var(--radius);
	}
	.disabled {
		opacity: 0.4;
		cursor: not-allowed;
	}
	.hidden {
		display: none !important;
	}
	.shadow {
		box-shadow: var(--shadow);
	}
	.hover-shadow {
		transition: var(--transition);
		&:hover {
			box-shadow: var(--shadow);
		}
	}
	.hover-text-shadow {
		transition: var(--transition);
		&:hover {
			text-shadow: var(--shadow);
		}
	}
	.no-transition {
		transition: none;
	}
	.hover-opacity {
		opacity: 0;
		transition: var(--transition);
		&:hover {
			opacity: 1;
		}
	}

	.mg-auto {
		margin: auto;
	}
	.mx-auto {
		margin-inline: auto;
	}
	.my-auto {
		margin-block: auto;
	}
	.ml-auto {
		margin-left: auto;
	}
	.mr-auto {
		margin-right: auto;
	}
	.mt-auto {
		margin-top: auto;
	}
	.mb-auto {
		margin-bottom: auto;
	}
	@each $i in 0, 1, 2, 4, 6, 8, 10, 12, 16, 20, 24, 32, 36, 40, 60, 80, 100,
		120, 160, 200
	{
		.mg-#{$i} {
			margin: #{$i}px;
		}
		.mx-#{$i} {
			margin-inline: #{$i}px;
		}
		.my-#{$i} {
			margin-block: #{$i}px;
		}
		.mt-#{$i} {
			margin-top: #{$i}px;
		}
		.mb-#{$i} {
			margin-bottom: #{$i}px;
		}
		.ml-#{$i} {
			margin-left: #{$i}px;
		}
		.mr-#{$i} {
			margin-right: #{$i}px;
		}
		.pd-#{$i} {
			padding: #{$i}px;
		}
		.px-#{$i} {
			padding-inline: #{$i}px;
		}
		.py-#{$i} {
			padding-block: #{$i}px;
		}
		.pl-#{$i} {
			padding-left: #{$i}px;
		}
		.pr-#{$i} {
			padding-right: #{$i}px;
		}
		.pt-#{$i} {
			padding-top: #{$i}px;
		}
		.pb-#{$i} {
			padding-bottom: #{$i}px;
		}
		.gap-#{$i} {
			gap: #{$i}px;
		}
	}
	@each $i in 10, 20, 25, 30, 40, 50, 60, 70, 75, 80, 90, 100 {
		$unit: "%";
		.w-#{$i} {
			width: #{$i}#{$unit};
		}
		.h-#{$i} {
			height: #{$i}#{$unit};
		}
	}

	@media (min-width: 880px) {
		.screen-sm {
			display: none !important;
		}
	}
	@media (max-width: 880px) {
		.screen-lg {
			display: none !important;
		}
	}

	@keyframes rotate {
		100% {
			transform: rotate(360deg);
		}
	}
	@keyframes bounce {
		20% {
			transform: translate(12px, 0);
		}
		50% {
			transform: translate(-8px, 0);
		}
		80% {
			transform: translate(6px, 0);
		}
	}
}
