article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
	display: block;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
article,
section,
body {
	line-height: 1.2;
}
a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	transition: var(--transition);
}
b,
strong {
	font-weight: 700;
}
html {
	position: relative;
	font: var(--font);
	color: var(--color);
	min-height: 100vh;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
input,
button,
textarea,
select {
	font: inherit;
}
input:-webkit-autofill {
	box-shadow: inherit;
	transition: none;
}
ul,
ol {
	list-style: none;
}
img,
video,
audio,
iframe {
	display: block;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	transition: var(--transition);
}
h1 {
	font-size: 2.4rem;
	line-height: 1.2;
}
h2 {
	font-size: 2rem;
	line-height: 1.2;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.2rem;
}
h5,
h6 {
	font-size: 1rem;
}
label {
	cursor: pointer;
}
pre,
code {
	font-family: inherit;
}
::selection {
	background-color: #ffd832a3;
	color: #212121;
}
.os-windows ::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	cursor: pointer;
}
.os-windows ::-webkit-scrollbar-thumb {
	background-color: var(--color-8);
	cursor: pointer;
	border-radius: var(--radius);
}
