$breakpoint-mobile: 880px;

:root {
	--font-size: 16px;
	--font: normal 400 var(--font-size) / 1.5 -apple-system, "Helvetica Neue",
		sans-serif;
	--transition: all 0.24s ease;

	--padding: 0.32em 0.628em;
	--radius: 4px;
	--shadow: 0px 2px 8px var(--dim);
	--blur: blur(16px);
	--breakpoint: 880px;

	--label-width: auto;
	--label-align: left;
}
