.i-popup {
	position: absolute;
	z-index: 100;
	opacity: 0;
	transition: opacity 0.12s, transform 0.12s;
	border-radius: var(--radius);
	background: var(--background);
	backdrop-filter: var(--blur);
	box-shadow: var(--shadow);
	transform: translate(0, 4px);
}

.i-popup-arrow {
	position: absolute;
	height: 8px;
	width: 8px;
	background: var(--background);
	transform: translate(-50%, -50%) rotate(45deg);
	border-radius: 2px;
	pointer-events: none;
}
