.i-popup {
	position: absolute;
	z-index: 100;
	opacity: 0;
	transition: opacity 0.12s, transform 0.12s;
	border-radius: var(--radius);
	overflow-x: hidden;
	background: var(--background-opacity);
	backdrop-filter: var(--blur);
	box-shadow: var(--shadow);
	transform: translate(0, 4px);
}

.i-popup-caret {
	position: absolute;
}
