.i-area {
	position: absolute !important;
	inset: 0;
	--content-width: 1200px;
	--header-height: unset;
}

.i-area-goku {
	margin: auto;
	display: flex;
	width: var(--content-width);
	max-width: 100%;
}

.i-area-content {
	position: relative;
	flex: 1;
	overflow: auto;
}

.i-area-header,
.i-area-footer {
	margin: auto;
	padding: 8px;
	z-index: 1;
	display: flex;
	align-items: center;
	width: var(--content-width);
	max-width: 100%;
	backdrop-filter: var(--blur);
	&:empty {
		display: none;
	}
}
.i-area-header {
	position: sticky;
	top: 0;
	z-index: 50;
	height: var(--header-height);
}
.i-area-sider {
	position: sticky;
	top: var(--header-height);
	overflow: auto;
	flex-shrink: 0;
	height: calc(var(--container-height) - var(--header-height));
}
