.i-area {
	position: absolute;
	inset: 0;
}

.i-area-naruto {
	display: grid;
	grid-template-areas:
		"header header"
		"sider content"
		"footer footer";
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr auto;
}
.i-area-sasuke {
	display: grid;
	grid-template-areas:
		"sider header"
		"sider content"
		"sider footer";
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr auto;
	.i-area-sider {
		top: 0;
	}
}
.i-area-goku {
	.i-area-inner {
		margin: 0 auto;
		display: flex;
		max-width: 100%;
		width: var(--content-width);
	}
	.i-area-sider {
		position: sticky;
		z-index: 1;
		top: var(--header-height);
	}
	.i-area-content {
		overflow: unset;
	}
}

.i-area-content {
	position: relative;
	flex: 1;
	overflow-x: hidden;
}

.i-area-header,
.i-area-footer {
	padding: 8px;
	z-index: 1;
	display: flex;
	align-items: center;
	background: var(--background-opacity);
	backdrop-filter: var(--blur);
	&:empty {
		display: none;
	}
}
.i-area-header {
	position: sticky;
	top: 0;
	z-index: 50;
	height: var(--header-height);
}
.i-area-sider {
	overflow: auto;
	flex-shrink: 0;
}
