.i-checkbox {
	gap: 1em;
}
.i-checkbox-item {
	display: inline-flex;
	align-items: baseline;
	gap: 0.25em;
	border-radius: var(--radius);
	align-self: flex-start;
	&:hover {
		.i-checkbox-input {
			box-shadow: inset 0 0 0 2px var(--color-5);
		}
		.i-checkbox-switch {
			box-shadow: inset 0 0 0 2px var(--color-8);
		}
		.i-checkbox-partof {
			box-shadow: none;
		}
	}
	.i-checkbox-input {
		&:checked {
			box-shadow: none;
		}
	}
}

.i-checkbox-options {
	flex: 1 1 100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	gap: 0.625em;
	align-self: baseline;
}

.i-checkbox-text {
	display: inline-flex;
	transition: var(--transition);
	user-select: none;
	border-radius: inherit;
	color: var(--color-3);
	&:empty {
		display: none;
	}
}

.i-checkbox-input {
	position: relative;
	display: flex;
	cursor: inherit;
	height: 1.125em;
	width: 1.125em;
	overflow: hidden;
	appearance: none;
	border-radius: inherit;
	transition: var(--transition);
	outline: 0;
	align-self: center;
}
.i-checkbox-switch {
	height: 1.125em;
	width: 2.2em;
	overflow: unset;
	border-radius: 2.4em;
	box-shadow: inset 0 0 0 2px var(--color-9);
	background: var(--color-9);
	&:hover {
		&:after {
			box-shadow: 0 0 0 2px var(--color-7);
			background-color: var(--color-main-0);
		}
	}
}
.i-checkbox-default {
	border-radius: 2px;
	box-shadow: inset 0 0 0 2px var(--color-7);
}
.i-checkbox-button {
	display: none;
}
.i-checkbox-default:after,
.i-checkbox-switch:before,
.i-checkbox-switch:after,
.i-checkbox-partof:after {
	content: "\20";
	position: absolute;
	transition: var(--transition);
}
.i-checkbox-default:after {
	left: 34%;
	top: 16%;
	height: 50%;
	width: 20%;
	border-bottom: 2px solid var(--color-main-reverse);
	border-right: 2px solid var(--color-main-reverse);
	transform: rotate(90deg) scale(0);
	border-radius: 1px;
}
.i-checkbox-switch {
	&:after {
		left: 0;
		top: 50%;
		width: 1em;
		height: 1em;
		transform: translate(0, -50%);
		box-shadow: 0 0 0 2px var(--color-8);
		border-radius: 1em;
		transition: var(--transition);
		background-color: var(--background);
	}
	&:active {
		&:after {
			width: 1.5em;
		}
		&:checked:after {
			left: -0.5em;
		}
	}
}

.i-checkbox-input:checked {
	&.i-checkbox-default {
		background-color: var(--color-main);
		&:after {
			transform: rotate(45deg);
		}
	}
	&.i-checkbox-switch {
		background-color: var(--color-main);
		&:after {
			box-shadow: 0 0 0 2px var(--color-main);
			transform: translate(1.2em, -50%);
			background-color: var(--background);
		}
	}
	& + .i-checkbox-text {
		color: var(--color-main);
	}
}
.i-checkbox-button {
	& + .i-checkbox-text {
		padding: 0 1em;
		line-height: 1.8;
		font-size: 0.9em;
		display: flex;
		align-items: center;
		white-space: nowrap;
		border-radius: 2em;
		border: 1px solid var(--color-9);
	}
	&:hover + .i-checkbox-text {
		background-color: var(--color-9);
		border-color: var(--color-8);
	}
	&:checked + .i-checkbox-text {
		background-color: var(--color-main);
		color: var(--color-main-reverse);
	}
}
.i-checkbox-partof {
	border-radius: 2px;
	background-color: var(--color-main);
	&:after {
		background-color: var(--color-main-reverse);
		height: 2px;
		width: 0.5em;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		border-radius: var(--radius);
	}
}

.i-checkbox-message {
	margin-top: 0.5em;
	font-size: 0.8em;
	align-self: flex-start;
	pointer-events: none;
}

.i-checkbox-success {
	.i-checkbox-input {
		box-shadow: inset 0 0 0 2px var(--success-0);
		&:checked {
			background-color: var(--success-0);
		}
	}
	.i-checkbox-message {
		color: var(--success);
	}
}
.i-checkbox-warning {
	.i-checkbox-input {
		box-shadow: inset 0 0 0 2px var(--warning-0);
		&:checked {
			background-color: var(--warning-0);
		}
	}
	.i-checkbox-message {
		color: var(--warning);
	}
}
.i-checkbox-error {
	.i-checkbox-input {
		box-shadow: inset 0 0 0 2px var(--error-0);
		&:checked {
			background-color: var(--error-0);
		}
	}
	.i-checkbox-message {
		color: var(--error);
	}
}
