.i-preview {
	.i-modal {
		position: static;
		background: transparent;
		overflow: unset;
	}
}

.i-preview-content {
	transition: var(--transition);
}

.i-preview-controls {
	position: fixed;
	z-index: 10;
	right: 0.5em;
	top: 0.5em;
	padding: 4px;
	display: flex;
	align-items: center;
	gap: 1px;
	background: var(--background-opacity);
	border-radius: var(--radius);
	font-size: 0.9em;
}

.i-preview-unknown {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5em 1em;
	background: var(--background);
	border-radius: var(--radius);
}
