.i-badge {
	position: relative;
	display: inline-flex;
	align-self: center;
	flex-shrink: 0;
	border-radius: var(--radius);
}

.i-badge-content {
	position: absolute;
	z-index: 1;
	inset: 0 0 auto auto;
	padding: 0.2em 0.5em;
	transition: all 0.16s;
	transform: translate(50%, -50%) scale(1);
	border-radius: inherit;
	background: var(--background-opacity);
	backdrop-filter: var(--blur);
	box-shadow: var(--shadow);
	font-size: 0.86em;
	pointer-events: none;
	&.i-badge-dot {
		height: 1em;
		width: 1em;
		padding: 0;
		border-radius: 1em;
		overflow: hidden;
		color: transparent;
	}
	&:empty,
	&.i-badge-hidden {
		transform: translate(50%, -50%) scale(0);
	}
}
