.i-container {
	position: relative;
	inset: 0;
	align-items: flex-start;
}
.i-content {
	position: relative;
	flex: 1 1 auto;
	transition: var(--transition);
	overflow-x: hidden;
}
.i-header,
.i-footer {
	z-index: 1;
	display: flex;
	align-items: center;
}
.i-header {
	position: sticky;
	top: 0;
	z-index: 50;
}
.i-footer {
	top: unset;
	bottom: 0;
}
.i-sider {
	position: sticky;
	top: 0;
	align-self: flex-start;
	margin-left: auto;
	max-width: 100%;
	overflow-x: hidden;
	transition: var(--transition);
	flex-shrink: 0;
}
