.i-select {
	display: flex;
	gap: 0.5em;
}

.i-select-options {
	display: flex;
	flex-direction: column;
	max-height: 40vh;
	padding: 0.5em;
	gap: 2px;
	overflow-x: hidden;
	border-radius: inherit;

	.i-list-item {
		color: var(--color-4);
		&.i-list-item-active {
			color: var(--color-main);
			background: var(--color-main-0);
		}
		&.disabled {
			pointer-events: none;
		}
	}
}

.i-select-options-header {
	position: sticky;
	top: 0;
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
	gap: 0.25em;
	padding: 0.5em;
	margin-inline: -0.5em;
	margin-bottom: -0.5em;
	transform: translate(0, -0.5em);
	background: var(--background-opacity);
	backdrop-filter: var(--blur);
	&:empty {
		display: none;
	}
}

.i-select-options-empty {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
	gap: 0.25em;
	opacity: 0.6;
}

.i-select-value {
	padding: 0 0.4em;
	border-radius: var(--radius);
	background: var(--color-main-0);
	transition: var(--transition);
	cursor: default;
	&:hover {
		background: var(--color-main);
		color: var(--color-main-reverse);
	}
}
