.i-select {
	display: flex;
	gap: 0.5em;
}
.i-select-multiple {
	flex-wrap: wrap;

	.i-tag {
		position: relative;
		padding: 0 0.5em;
		&:hover {
			.i-tag-close {
				opacity: 1;
			}
		}
	}
	.i-tag-close {
		position: absolute;
		right: 4px;
		background: inherit;
		opacity: 0;
	}
}

.i-select-options {
	display: flex;
	flex-direction: column;
	max-height: 40vh;
	padding: 8px;
	gap: 2px;
	overflow-x: hidden;
	border-radius: inherit;

	.i-list-item {
		color: var(--color-4);
		&.i-list-item-active {
			color: var(--color-main);
			background: var(--color-main-0);
		}
		&.disabled {
			pointer-events: none;
		}
	}
}

.i-select-filter {
	position: sticky;
	top: 0;
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
	margin-inline: -8px;
	transform: translate(0, -8px);
	background: var(--background-opacity);
	backdrop-filter: var(--blur);
	border-bottom: 1px solid var(--background-opacity-1);
	&:empty {
		display: none;
	}
}

.i-select-options-empty {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em 0;
	gap: 0.25em;
	opacity: 0.6;
}

.i-select-value {
	padding: 0.2em 0.4em;
	border-radius: var(--radius);
	background: var(--color-main-0);
	transition: var(--transition);
	cursor: default;
	&:hover {
		background: var(--color-main);
		color: var(--color-main-reverse);
	}
}
